/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/composer.lock

/zz
/.idea
/.sass-cache
/node_modules
/bower_components

/app/Resources/public/js/*
!/app/Resources/public/js/app.js
/app/Resources/public/css/*
/app/Resources/public/css/.gitkeep
/web/js
/web/css