{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.app.about.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="headertitle text-center">
                {{ 'views.app.about.title'|trans }}
            </h1>
        </div>
    </div>

{% endblock page %}