{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.app.mention.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="headertitle text-center">
                {{ 'views.app.mention.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-10 small-centered columns">
            <ul class="small-block-grid-1">
                <li class="homebox text-center">

                    <p class="parahome nomargin">
                        {{ 'views.app.mention.paragraph1'|trans|raw }}
                    </p>
                </li>
            </ul>
        </div>
    </div>

{% endblock page %}