{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.app.toolsbilan.title'|trans }}
{% endblock title %}

{% block body %}

    <h1>
        {{ 'views.app.toolsbilan.title'|trans }}
    </h1>

{% endblock body %}